.typing-text {
	position: relative;
}

.typing-text.typing::after {
	content: '|';
	position: absolute;
	right: -4px;
	animation: blink 0.7s infinite;
}

.typing-text.finished::after {
	content: '|';
	position: absolute;
	right: -4px;
	opacity: 0;
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
